// 변수넣는곳
/*
  position: relative;
  width: 1173px;
  margin: 0 auto 50px;

  display: flex;
  flex-wrap: wrap;
  
  color
*/

//position
$posRel : relative;
$posAbs: absolute;

//색상
$color_dark_1: #25282c;
$color_dark_2: #212121;

$color_pink_1:  #ca7379;

$color_light_1: #fff;
$color_light_2: #aaa;

//폰트사이즈
$fz12: 12px;

//텍스트정렬
$tac: center;

//폰트굵기
$fwB: bold;

//margin
$margin_type1: 0 10px; 

//border-radius
$bdrs50: 50%;

//거리
$distance10: 10px; 
$distance50: 50px; 
$distance37: 37px;
$distance190: 190px;











